BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BANK 1 VCCIO 3.3 V;
LOCATE COMP "o_hbIN[0]" SITE "G14" ;
IOBUF PORT "o_hbIN[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_nSD[0]" DRIVE=8 IO_TYPE=LVCMOS33 ;
LOCATE COMP "o_hbIN[1]" SITE "D14" ;
LOCATE COMP "o_hbIN[2]" SITE "D16" ;
LOCATE COMP "o_nSD[0]" SITE "B16" ;
LOCATE COMP "o_nSD[1]" SITE "F14" ;
LOCATE COMP "o_nSD[2]" SITE "C15" ;
IOBUF PORT "o_hbIN[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_hbIN[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_nSD[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_nSD[2]" IO_TYPE=LVCMOS33 ;
